doctype html
html
    head
        title=title
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/static/css/index.css')
        script(src="https://kit.fontawesome.com/9d18634ca5.js", crossorigin="anonymous")
    body
    div.wrapper
        div#toolbar
            i#pencil.icons.fas.fa-pen.fa-2x
            i#color.icons.fas.fa-sliders-h.fa-2x
            i#eraser.icons.fas.fa-eraser.fa-2x
            i#line.icons.fas.fa-arrows-alt-h.fa-2x
            i#audio.icons.fas.fa-microphone.fa-2x
        div.container
            //- div.heading
            //-     center 
            //-         h1 Whiteboard
            canvas#whiteboard
    script(src="/static/js/whiteboard/constants.js")
    script(src="/static/js/whiteboard/marker.js")
    script(src="/static/js/whiteboard/whiteboard.js")
    script(src="/static/js/index.js")